<div class="row">
    <div class="col-3">
        <a href="{{url_add}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Adicionar Vídeo</a>
    </div>
    <div class="col-9">
        <div class="form-row">
            <div class="col-3">
                <select class="form-control">
                    <option>Categoria 1</option>
                    <option>Categoria 2</option>
                    <option>Categoria 3</option>
                    <option>Categoria 4</option>
                    <option>Categoria 5</option>
                </select>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Buscar">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12"> 
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Vídeo 1</li>
                <li class="list-group-item">Vídeo 1</li>
                <li class="list-group-item">Vídeo 1</li>
            </ul>
        </div>
    </div>
</div>    